@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*!-----RESET-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Fira Sans Condensed', sans-serif; }

.carousel-inner img {
  width: 100%;
  max-height: 330px; }

.HHogan1 {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-one {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-one {
  background-color: black;
  color: gold;
  font-size: 25px; }

.savage1 {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-two {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-two {
  background-color: black;
  color: gold;
  font-size: 25px; }

.warrior1 {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-three {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-three {
  background-color: black;
  color: gold;
  font-size: 25px; }

.giant1 {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-four {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-four {
  background-color: black;
  color: gold;
  font-size: 25px; }

.rpipper1 {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-five {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-five {
  background-color: black;
  color: gold;
  font-size: 25px; }

.jdog {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-six {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-six {
  background-color: black;
  color: gold;
  font-size: 25px; }

.perfect {
  margin-top: 100px;
  margin-bottom: 20px; }

.botoncito-seven {
  background-color: fuchsia;
  padding: 25px;
  border-radius: 2px;
  border-color: gold; }

.accordion-item-seven {
  background-color: black;
  color: gold;
  font-size: 25px; }

header {
  width: 100%;
  height: 25vh;
  background-color: black;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1; }
  header h1 .loguito {
    width: 220px;
    height: 170px;
    padding: 20px; }
  header nav ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex; }
    header nav ul li {
      margin: 15px 5px 10px 15px; }
      header nav ul li a {
        text-decoration: none;
        color: goldenrod; }
        header nav ul li a:hover {
          color: blueviolet; }

.hero {
  width: 100%;
  height: 100%;
  color: gold;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.47)), url(../img/ringwwf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }
  .hero h2 {
    font-size: 60px;
    text-align: center; }
  .hero p {
    font-size: 35px;
    padding: 30px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffd900; }

.noticias {
  background-color: black;
  color: gold;
  font-size: medium; }
  .noticias .subtitulo1 {
    color: gold;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    padding: 20px; }
  .noticias .container-a {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse; }
    .noticias .container-a div img {
      width: 350px;
      height: 350px;
      margin-top: 100px;
      border: 2px solid fuchsia; }
    .noticias .container-a div h3 {
      font-size: 30px;
      padding: 20px;
      text-align: justify; }
    .noticias .container-a div p {
      font-size: 20px;
      padding: 15px;
      text-align: justify;
      color: wheat; }
  .noticias .container-b {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse; }
    .noticias .container-b div img {
      width: 350px;
      height: 350px;
      margin-top: 100px;
      border: 2px solid fuchsia; }
    .noticias .container-b div h3 {
      font-size: 30px;
      padding: 20px;
      text-align: justify; }
    .noticias .container-b div p {
      font-size: 20px;
      padding: 15px;
      text-align: justify;
      color: wheat; }
  .noticias .container-c {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse; }
    .noticias .container-c div img {
      width: 350px;
      height: 350px;
      padding: 10px;
      margin-top: 100px;
      border: 2px solid fuchsia; }
    .noticias .container-c div h3 {
      font-size: 30px;
      padding: 20px;
      text-align: justify; }
    .noticias .container-c div p {
      font-size: 20px;
      padding: 15px;
      text-align: justify;
      color: wheat; }

.historia {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }
  .historia .titulo-historia {
    font-size: 40px;
    text-align: center;
    padding: 20px; }
  .historia .historia-comienzo h3 {
    margin: 0 auto;
    width: 350px;
    max-height: 300px;
    color: fuchsia;
    font-size: 25px;
    background-color: gold;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    transition-duration: 3s; }
    .historia .historia-comienzo h3:hover {
      width: 450px; }
  .historia .historia-comienzo p {
    font-size: 25px; }

.luchadores {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }

.videos-contenedor {
  width: 100%;
  height: 60%;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; }
  .videos-contenedor h2 {
    font-size: 35px;
    padding: 15px; }

.canciones-contenedor {
  background-color: black; }
  .canciones-contenedor h3 {
    background-color: black;
    color: gold;
    margin: 0;
    font-size: 35px;
    text-align: center; }
  .canciones-contenedor .conjunto-canciones {
    background-color: black;
    display: flex;
    flex-direction: column; }
    .canciones-contenedor .conjunto-canciones .canciones-uno {
      display: flex; }
    .canciones-contenedor .conjunto-canciones .canciones-dos {
      display: flex; }

.grid-galeria {
  width: 100%;
  padding-top: 50px;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  gap: 15px; }
  .grid-galeria img {
    width: 100%;
    height: 100%; }
  .grid-galeria .img5 {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-galeria .img13 {
    grid-row: span 2; }

.productos {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }
  .productos h2 {
    text-align: center;
    color: gold;
    font-size: 35px;
    padding: 10px; }
  .productos .productos-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .productos .productos-contenedor div {
      width: 300px;
      height: 375px;
      border: 2px solid fuchsia;
      text-align: center;
      margin: 10px;
      transition: 2s; }
      .productos .productos-contenedor div:hover {
        transform: scale(1.1); }
      .productos .productos-contenedor div img {
        width: 100%;
        height: 250px; }
      .productos .productos-contenedor div h3 {
        margin: 15px;
        font-size: 20px; }
      .productos .productos-contenedor div a {
        text-decoration: none;
        font-size: 20px;
        color: blueviolet;
        background-color: black;
        padding: 5px;
        margin: 5px; }
        .productos .productos-contenedor div a:hover {
          color: fuchsia; }

.gym {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: gold;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }
  .gym h2 {
    font-size: 35px;
    text-align: center;
    color: gold;
    padding: 10px; }
  .gym .gym-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .gym .gym-contenedor div {
      width: 300px;
      height: 375px;
      border: 2px solid fuchsia;
      text-align: center;
      margin: 10px;
      transition: 2s; }
      .gym .gym-contenedor div:hover {
        transform: scale(1.1); }
      .gym .gym-contenedor div img {
        width: 100%;
        height: 250px; }
      .gym .gym-contenedor div h3 {
        margin: 15px;
        font-size: 20px; }
      .gym .gym-contenedor div a {
        text-decoration: none;
        font-size: 20px;
        color: blueviolet;
        background-color: black;
        margin: 5px;
        padding: 5px; }
        .gym .gym-contenedor div a:hover {
          color: fuchsia; }

footer {
  width: 100%;
  height: 200px;
  background-color: black;
  border: 2px solid gold;
  border-left: none;
  border-right: none; }
  footer h1 .logo-pie {
    width: 220px;
    height: 170px;
    padding: 20px; }
  footer .footer-contenedor {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer-contenedor a {
      font-size: 40px;
      margin: 10px; }
  footer p {
    color: yellow;
    background-color: black;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 30px #fff;
    box-shadow: 0 0 20px #fffc44; }

@media screen and (max-width: 880px) {
  .hero p {
    font-size: 40px;
    height: 25%;
    text-align: justify;
    margin: 20px; } }

@media screen and (max-width: 867px) {
  header {
    height: 100%;
    flex-direction: column;
    position: static;
    padding: 8px;
    position: static; } }

@media screen and (max-width: 800px) {
  header {
    height: 100%; } }

@media screen and (max-width: 800px) {
  .donate div img {
    display: none; } }

@media screen and (max-width: 800px) {
  .hero {
    height: 80%; }
    .hero h2 {
      font-size: 45px; }
    .hero p {
      font-size: 22px;
      height: 25%;
      text-align: justify;
      margin: 20px; } }

@media screen and (max-width: 800px) {
  header {
    height: 100%;
    flex-direction: column;
    position: static; } }

@media screen and (max-width: 800px) {
  .donate div img {
    display: none; } }

@media screen and (max-width: 780px) {
  .hero {
    width: 100%;
    height: 300px; } }

@media screen and (max-width: 650px) {
  .hero {
    width: 100%;
    height: 350px; }
    .hero h2 {
      margin-bottom: -30px; }
    .hero p {
      margin-bottom: 50px;
      width: auto;
      max-height: max-content;
      margin: 10px; } }

@media screen and (max-width: 600px) {
  header h1 .loguito {
    width: 200px;
    height: 150px;
    margin-left: 20px; }
  header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -2px;
    padding-right: 40px;
    font-size: 12px; }
    header nav ul li {
      margin: 0;
      font-size: 15px; }
      header nav ul li a {
        margin: 2px; } }

@media screen and (max-width: 950px) {
  .noticias .subtitulo1 {
    text-align: center;
    width: 100%;
    height: 30px; }
  .noticias .container-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-a div img {
      margin: 50px 0px 5px; }
    .noticias .container-a div h3 {
      text-align: center; }
    .noticias .container-a div p {
      font-size: 20px; }
  .noticias .container-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-b div img {
      margin: 20px 0px 5px; }
    .noticias .container-b div h3 {
      text-align: center; }
    .noticias .container-b div p {
      font-size: 20px; }
  .noticias .container-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-c div img {
      margin: 20px 0px 5px; }
    .noticias .container-c div h3 {
      text-align: center; }
    .noticias .container-c div p {
      font-size: 20px; } }

@media screen and (max-width: 600px) {
  .noticias .subtitulo1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 30px; }
  .noticias .container-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-a div img {
      margin: 10px;
      width: 300px;
      height: 300px; }
    .noticias .container-a div h3 {
      text-align: center;
      font-size: 25px; }
    .noticias .container-a div p {
      font-size: 19px; }
  .noticias .container-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-b div img {
      margin: 10px;
      width: 300px;
      height: 300px; }
    .noticias .container-b div h3 {
      text-align: center;
      font-size: 25px; }
    .noticias .container-b div p {
      font-size: 19px; }
  .noticias .container-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .noticias .container-c div img {
      margin: 10px;
      width: 300px;
      height: 300px; }
    .noticias .container-c div h3 {
      text-align: center;
      font-size: 25px; }
    .noticias .container-c div p {
      font-size: 19px; } }

@media screen and (max-width: 480px) {
  .noticias .subtitulo1 {
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 30px; }
  .noticias .container-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px; }
    .noticias .container-a div img {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .noticias .container-a div h3 {
      text-align: center;
      font-size: 20px; }
    .noticias .container-a div p {
      font-size: 15px; }
  .noticias .container-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px; }
    .noticias .container-b div img {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .noticias .container-b div h3 {
      text-align: center;
      font-size: 20px; }
    .noticias .container-b div p {
      font-size: 15px; }
  .noticias .container-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px; }
    .noticias .container-c div img {
      margin: 10px;
      width: 200px;
      height: 200px; }
    .noticias .container-c div h3 {
      text-align: center;
      font-size: 20px; }
    .noticias .container-c div p {
      font-size: 15px; } }

@media screen and (max-width: 435px) {
  .hero {
    width: fit-content;
    height: fit-content; }
    .hero h2 {
      font-size: 40px; }
    .hero p {
      font-size: 20px;
      margin: auto; } }

@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    height: 50%; }
    footer h1 .logo-pie {
      width: 200px;
      height: 150px;
      margin: 0px 0px 1px; }
    footer .footer-contenedor {
      width: 100%;
      height: auto;
      font-size: 10px; }
      footer .footer-contenedor a img {
        width: 30px;
        height: 30px; }
    footer p {
      font-size: 20px; } }

@media screen and (max-width: 1120px) {
  .conjunto-canciones {
    display: flex;
    flex-wrap: wrap;
    width: auto; }
    .conjunto-canciones .canciones-uno {
      display: flex;
      flex-direction: column; }
    .conjunto-canciones .canciones-dos {
      display: flex;
      flex-direction: column; } }

@media screen and (max-width: 1120px) {
  .videos-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }

@media screen and (max-width: 830px) {
  .historia .titulo-historia {
    font-size: 35px; }
  .historia .historia-comienzo h3 {
    font-size: 25px; }
  .historia .historia-comienzo p {
    font-size: 20px;
    text-align: justify; } }

@media screen and (max-width: 590px) {
  .videos-contenedor .videos-uno h2 {
    text-align: center;
    font-size: 30px; }
  .videos-contenedor .videos-uno .video-golden {
    width: 380px;
    height: 230px; }
  .videos-contenedor .videos-dos h2 {
    text-align: center;
    font-size: 30px; }
  .videos-contenedor .videos-dos .evento-principal {
    width: 380px;
    height: 230px; }
  .videos-contenedor .videos-tres h2 {
    text-align: center;
    font-size: 30px; }
  .videos-contenedor .videos-tres .hija {
    width: 380px;
    height: 230px; }
  .videos-contenedor .videos-cuatro h2 {
    text-align: center;
    font-size: 30px; }
  .videos-contenedor .videos-cuatro .historiauw {
    width: 420px;
    height: 250px;
    padding-left: 35px; } }

@media screen and (max-width: 425px) {
  .videos-contenedor .videos-uno h2 {
    text-align: center;
    font-size: 25px; }
  .videos-contenedor .videos-uno .video-golden {
    width: 300px;
    height: 180px; }
  .videos-contenedor .videos-dos h2 {
    text-align: center;
    font-size: 25px; }
  .videos-contenedor .videos-dos .evento-principal {
    width: 300px;
    height: 180px; }
  .videos-contenedor .videos-tres h2 {
    text-align: center;
    font-size: 25px; }
  .videos-contenedor .videos-tres .hija {
    width: 300px;
    height: 180px; }
  .videos-contenedor .videos-cuatro h2 {
    text-align: center;
    font-size: 25px; }
  .videos-contenedor .videos-cuatro .historiauw {
    width: 350px;
    height: 200px; } }
