@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/*!-----RESET-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Fira Sans Condensed', sans-serif;
    

}

//*estilos de bootstrap*//

.carousel-inner img {
    width: 100%;
    max-height: 330px;
}

.HHogan1{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 480px;
    height: 600px;
}
.botoncito-one{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
}

.accordion-item-one{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 3px;
}

.savage1{
    margin-top: 100px;
    margin-bottom: 20px;
    width:500px ;
    height:550px ;
}

.botoncito-two{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
}

.accordion-item-two{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}

.warrior1{
    margin-top: 100px;
    margin-bottom: 20px;
    width:600px ;
    height:500px ;
}

.botoncito-three{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
}

.accordion-item-three{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}

.giant1{
    margin-top: 100px;
    margin-bottom: 20px;
    width:550px  ;
    height:500px ;
}

.botoncito-four{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
}

.accordion-item-four{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}

.rpipper1{
    margin-top: 100px;
    margin-bottom: 20px; 
    width:580px ;
    height:500px ;
}

.botoncito-five{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
    
    
}

.accordion-item-five{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}

.jdog{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 500px;
    height:450px ;
}
.botoncito-six{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
}

.accordion-item-six{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}

.perfect{
    margin-top: 100px;
    margin-bottom: 20px;
    width:550px ;
    height: 500px;
}

.botoncito-seven{
    background-color:fuchsia;
    padding: 25px;
    border-radius: 2px;
    border-color: gold;
    
    
}

.accordion-item-seven{
    background-color: black;
    color: gold;
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}



//*mq bootstrap pagina luchadores*//

@media screen and (max-width:800px){
    .luchadores{
        h2{
            font-size: 23px;
        }
    }
    .HHogan1{
        margin-top: 90px;
        margin-bottom: 18px;
        width: 336px;
        height: 420px;
    }

    .botoncito-one{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-hulk{
        font-size: 20px; 
        
    }
    .savage1{
        margin-top: 90px;
        margin-bottom: 18px;
        width:350px ;
        height:385px ;
    }
    .botoncito-two{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-randy{
        font-size: 20px; 
    }
    .warrior1{
        margin-top: 90px;
        margin-bottom: 18px;
        width:420px ;
        height:350px ;
    }
    .botoncito-three{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-warrior{
        font-size: 20px; 
    }
    .giant1{
        margin-top: 90px;
        margin-bottom: 18px;
        width:385px  ;
        height:350px ;
    }

    .botoncito-four{
        width: 100px;
        height: 80px;
        font-size: 18px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-gigante{
        font-size: 20px; 
    }
    .rpipper1{
        margin-top: 90px;
        margin-bottom: 18px; 
        width:406px ;
        height:350px ;
    }
    .botoncito-five{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-pipper{
        font-size: 20px; 
    }
    .jdog{
        margin-top: 90px;
        margin-bottom: 18px;
        width: 350px;
        height:315px ;
    }
    .botoncito-six{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-junkiard{
        font-size: 20px; 
    }
    .perfect{
        margin-top: 90px;
        margin-bottom: 18px;
        width:385px ;
        height: 350px;
    }
    .botoncito-seven{
        width: 100px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        
    }
    .texto-perfect{
        font-size: 20px; 
    }
}

@media screen and (max-width:550px){
    .luchadores{
        h2{
            font-size: 18px;
        }
    }
    .HHogan1{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 238px;
        height: 300px;
    }
    .texto-hulk{
        font-size: 16px; 
    }
    .savage1{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 300px;
        height: 280px;
    }
    .texto-randy{
        font-size: 16px; 
    }
    .warrior1{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 305px;
        height: 340px;
    }
    .texto-warrior{
        font-size: 16px; 
    }
    .giant1{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 300px;
        height: 352px;
    }
    .texto-gigante{
        font-size: 16px;
    }
    .rpipper1{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 300px;
        height: 418px;
    }
    .texto-pipper{
        font-size: 16px; 
    }
    .jdog{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 300px;
        height: 337px;
    }
    .texto-junkiard{
        font-size: 16px; 
    }
    .perfect{
        margin-top: 80px;
        margin-bottom: 10px;
        width: 300px;
        height: 337px;
    }
    .texto-perfect{
        font-size: 16px; 
    }
}