@media screen and (max-width:830px){
        .historia{
                .titulo-historia{
                font-size: 35px;    
        }
        .historia-comienzo{
            h3{
                font-size: 25px;
            }
            p{
                font-size: 20px;
                text-align: justify;
            }
        
        }
    }
}   