.hero{
    width: 100%;
    height: 100%;
    color: gold;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.47)), url(../img/ringwwf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2px solid gold;
    border-left: none;
    border-right: none;
        h2{
        font-size: 60px;
        text-align: center;
        }
        p{
            font-size: 35px;
            padding: 30px;
            text-align: justify;
            margin-bottom: 10px;
            font-weight: 600;
            color: rgb(255, 217, 0);
        }
    }

.noticias{
        background-color: black;
        color: gold;
        font-size: medium;
        .subtitulo1{
                color: gold;
                text-align: center;
                font-size: 50px;
                margin-bottom: 50px;
                padding: 20px;  
        }
        .container-a{
                padding: 15px;
                display: flex;
                flex-direction: row-reverse;
            div{
                img{
                    width: 350px;
                    height: 350px;
                    margin-top: 100px;
                    border: 2px solid fuchsia;
                }
            }
            div{
                h3{
                    font-size: 30px;
                    padding: 20px;
                    text-align: justify;
                }
                p{
                    font-size: 20px;
                    padding: 15px;
                    text-align: justify;
                    color: wheat;
                }
            }

        }
        .container-b{
                padding: 15px;
                display: flex;
                flex-direction: row-reverse;
            div{
                img{
                    width: 350px;
                    height: 350px;
                    margin-top: 100px;
                    border: 2px solid fuchsia;
                }
            }
            div{
                h3{
                    font-size: 30px;
                    padding: 20px;
                    text-align: justify;
                }
                p{
                    font-size: 20px;
                    padding: 15px;
                    text-align: justify;
                    color: wheat;                    
                }
            }

        }
        .container-c{
            padding: 15px;
            display: flex;
            flex-direction: row-reverse;
            div{
                img{
                    width: 350px;
                    height: 350px;
                    padding: 10px;
                    margin-top: 100px;
                    border: 2px solid fuchsia;
                }
            }
            div{
                h3{
                    font-size: 30px;
                    padding: 20px;
                    text-align: justify;
                }
                p{
                    font-size: 20px;
                    padding: 15px;
                    text-align: justify;
                    color: wheat;                   
                }
            }

        }

}
//*----historia----*//
.historia{
    width: 100%;
    height: 100%;
    padding: 15px;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-left: none;
    border-right: none;
    .titulo-historia{
        font-size: 40px;
        text-align: center;
        padding: 20px;

    }
    .historia-comienzo{
        h3{
        margin: 0 auto;
        width: 350px;
        max-height: 300px;
        color: fuchsia;
        font-size: 25px;
        background-color: gold;
        border-radius: 8px;
        text-align: center;
        padding: 8px;
        margin-bottom: 8px;
        transition-duration: 3s;
        &:hover{
            width: 450px;
        }
            // font-size: 30px;
            // margin-block-start: 25px;
            // padding-bottom: 25px;
        }
        p{
            font-size: 25px;
        }
    }
}

//*----luchadores----*//

.luchadores{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-left: none;
    border-right: none;
}


// .luchadores{
//             width: 100%;
//             height: 75%;
//             padding: 10px;
//             color: gold;
//             background-color: black;
//             border: 2px solid gold;
//             border-left: none;
//             border-right: none;
//     h2{
//         font-size: 40px;
//         text-align: center;
//         margin: 50px;
//     }
//     h3{
//         margin: 0 auto;
//         width: 300px;
//         max-height: 300px;
//         background-color: fuchsia;
//         border-radius: 8px;
//         text-align: center;
//         padding: 8px;
//         margin-bottom: 8px;
//         transition-duration: 4s;
//         &:hover{
//             width: 400px;
//         }
//     }
//     .primer-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;

//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }

//         }

//     }
//     .segundo-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }
//         }
//     }
//     .tercer-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             &:hover{
//                 transform: scale(1.1);
//             }
//         }
//     }
//     .cuarto-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }
//         }
//     }
//     .quinto-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }
//         }
//     }
//     .sexto-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;     
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 2px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }
//         }
//     }
//     .septimo-luchador{
//                     padding: 50px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     align-items: center;
//                     transition: 2s;
//         p{
//             font-size: 30px;
//             padding: 5px;
//             text-align: justify;
//         }
//         img{
//             border: 3px solid fuchsia;
//             transition: 2s;
//             &:hover{
//                 transform: scale(1.1);
//             }
            
//         }
//     }

// }

//*----multimedia----*//
.videos-contenedor{
    width: 100%;
    height: 60%;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 35px;
        padding: 15px;
    }
}

.canciones-contenedor{
    background-color: black;
    h3{
        background-color: black;
        color: gold;
        margin: 0;
        font-size: 35px;
        text-align: center;
    }
    .conjunto-canciones{
        background-color: black;
        display: flex;
        flex-direction: column;
        .canciones-uno{
                        display: flex;
        }
        .canciones-dos{
                        display: flex;

        }

    }


}

.grid-galeria{
    img {
        width: 100%;
        height: 100%;
        
    }
    .img5{
        grid-column: span 2;
        grid-row: span 2;
    }
    .img13{
        grid-row: span 2;
    }
    width: 100%;
    padding-top: 50px;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-auto-rows: 350px;
    gap: 15px;
}
//*----productos----*//
.productos{
        width: 100%;
        height: 100%;
        padding: 15px;
        color: gold;
        background-color: black;
        border: 2px solid gold;
        border-left: none;
        border-right: none;
    h2{
        text-align: center;
        color: gold;
        font-size: 35px;
        padding: 10px;
    }
    .productos-contenedor{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            width:300px ;
            height: 375px;
            border: 2px solid fuchsia;
            text-align: center;
            margin: 10px;
            transition: 2s;
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: 100%;
                height: 250px;
            }
            h3{
                margin: 15px;
                font-size: 20px;
            }
            a{
                text-decoration: none;
                font-size: 20px;
                color: blueviolet;
                background-color: black;
                padding: 5px;
                margin: 5px;
                &:hover{
                    color: fuchsia;
                }
            }
        }
    }
}

.gym{
    width: 100%;
    height: 100%;
    padding: 15px;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-left: none;
    border-right: none;  
    h2{
        font-size: 35px;
        text-align: center;
        color: gold;
        padding: 10px;
    }
    .gym-contenedor{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        div{
            width:300px ;
            height: 375px;
            border: 2px solid fuchsia;
            text-align: center;
            margin: 10px;
            transition: 2s;
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: 100%;
                height: 250px;
            }
            h3{
                margin: 15px;
                font-size: 20px;
            }
            a{
                text-decoration: none;
                font-size: 20px;
                color: blueviolet;
                background-color: black;
                margin: 5px;
                padding: 5px;
                &:hover{
                    color: fuchsia;
                }
            }
        }
    }
}